<p id="notice"><%= notice %></p>

<p>
  <strong>期日:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @task.category.categoryname %>
</p>

<p>
  <strong>予定:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>完了:</strong>
  <%= @task.done %>
</p>

<p>
  <strong>ユーザー:</strong>
  <%= @task.user.username %>
</p>

<%= link_to 'タスクの編集', edit_task_path(@task) %> |
<%= link_to '戻る', tasks_path %>
